= form_for [:admin, @location] do |f|
  -if @location.errors.any?
    #error_explanation
      %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :state_id
    = f.number_field :state_id
  .field
    = f.label :nama
    = f.text_field :nama
  .actions
    = f.submit 'Save'
