%h1 Listing admin_locations

%table
  %tr
    %th State
    %th Nama
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.state_id
      %td= location.nama
      %td= link_to 'Show', [:admin, location]
      %td= link_to 'Edit', edit_admin_location_path(location)
      %td= link_to 'Destroy', [:admin, location], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Location', new_admin_location_path
