.page-header
  %h1.pull-left
    Senarai Lokasi
  .page-actions.pull-right
    = link_to "Lokasi Baru", new_admin_location_path, class: "btn btn-primary"
  .clearfix

.row-fluid
  .span12
    - if @locations.length > 0
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Negeri
            %th Nama
            %th
        %tbody
          - @locations.each_with_index do |location, index|
            %tr
              %td= index + 1
              %td= location.state.nama if location.state
              %td= location.nama
              %td.right
                .btn-group
                  = link_to [:admin, location], class: "btn btn-small" do
                    %i.icon-eye-open
                  = link_to edit_admin_location_path(location), class: "btn btn-small" do
                    %i.icon-pencil
                  = link_to [:admin, location], :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "btn btn-small btn-danger" do
                    %i.icon-trash.icon-white
    - else
      Tiada lokasi.
