.page-header
  %h1
    Pendaftaran
    %small
      Daftar untuk pengiklanan

.row-fluid
  .span12
    = form_for resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-horizontal" } do |f|
      %fieldset

      = normal_div_if resource.errors[:email].empty? do
        = f.label :email, "E-Mail", class: "control-label"
        .controls
          = f.email_field :email
          %span.help-inline
            = resource.errors[:email].join(", ")

      = normal_div_if resource.errors[:password].empty? do
        = f.label "Kata laluan", class: "control-label"
        .controls
          = f.password_field :password
          %span.help-inline
            = resource.errors[:password].join(", ")

      = normal_div_if resource.errors[:password_confirmation].empty? do
        = f.label "Kata laluan (sekali lagi)", class: "control-label"
        .controls
          = f.password_field :password_confirmation
          %span.help-inline
            = resource.errors[:password_confirmation].join(", ")

      .control-group
        .controls
          = recaptcha_tags

      = normal_div_if resource.errors[:terms].empty? do
        .controls
          .checkbox
            = f.check_box :terms
            Saya telah baca dan faham dengan
            = link_to "rules dan conditions", "#rules", role: "button", :"data-toggle" => "modal"
            laman web ini
            %span.help-inline
              - unless resource.errors[:terms].blank?
                = "(#{resource.errors[:terms].join(", ")})"

      .form-actions
        = f.submit "Daftar", class: "btn btn-primary"

= render 'layouts/terms'