.page-header
  %h1
    Pendaftaran
    %small
      Daftar untuk pengiklanan

.row-fluid
  .span12
    = form_for resource, :as => resource_name, :url => registration_path(resource_name), html: { class: "form-horizontal" } do |f|
      %fieldset

      = normal_div_if resource.errors[:email].empty? do
        = f.label :email, class: "control-label"
        .controls
          = f.email_field :email
          %span.help-inline
            = resource.errors[:email].join(", ")

      = normal_div_if resource.errors[:password].empty? do
        = f.label :password, class: "control-label"
        .controls
          = f.password_field :password
          %span.help-inline
            = resource.errors[:password].join(", ")

      = normal_div_if resource.errors[:password_confirmation].empty? do
        = f.label :password_confirmation, class: "control-label"
        .controls
          = f.password_field :password_confirmation
          %span.help-inline
            = resource.errors[:password_confirmation].join(", ")

      .form-actions
        = f.submit "Daftar", class: "btn btn-primary"
