- title "#{@state.nama}"
- description "Pertukaran suka sama suka bagi negeri #{@state.nama}"
.row-fluid
  %h3
    Pertukaran Suka Sama Suka
    = @state.nama

= render 'jobs/list', jobs: @jobs

= render 'listings/states_list'
