- if current_user.nil? && @noresult
  .jumbotron
    %h1
      Tingkatkan peluang pertukaran anda!
    %p.lead
      Kami tahu ramai penjawat awam yang ingin membuat pertukaran tempat kerja secara suka sama suka
      tapi tiada tempat untuk iklankan jawatan anda. Dengan aplikasi ini ianya pasti dapat mencerahkan
      lagi peluang anda.
    = link_to "Daftar untuk buat iklan", new_user_registration_path, class: "btn btn-large btn-success"
  = render 'search/search_box'
- else
  = render 'search/search_box'
  .row-fluid
    .span12
    - if @jobs.length > 0
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Lokasi Lama
            %th Lokasi Dicari
            %th Gred
            %th Waktu Iklan
            %th
        %tbody
          - @jobs.each.with_index do |job, index|
            %tr
              %td= index + 1
              %td
                = "#{job.location.nama}, #{job.location.state.nama}"
              %td
                - if job.next_jobs.length == 1
                  = "#{job.next_jobs[0].location.nama}, #{job.next_jobs[0].location.state.nama}"
                - elsif job.next_jobs.length > 1
                  %ul
                    - job.next_jobs.each do |next_job|
                      %li
                        = "#{next_job.location.nama}, #{next_job.location.state.nama}"
                - else
                  \-

              %td= job.gred
              %td
                = time_ago_in_words(job.created_at)
                ago
              %td.right
                = link_to search_path(job), class: "btn btn-small" do
                  %i.icon-eye-open
    - else
      Tiada keputusan.
