- if current_user.nil? && !@searched
  .jumbotron
    %h1
      Tingkatkan peluang pertukaran anda!
    %p.lead
      Kami tahu ramai penjawat awam yang ingin membuat pertukaran tempat kerja secara suka sama suka
      tapi tiada tempat untuk iklankan jawatan anda. Dengan aplikasi ini ianya pasti dapat mencerahkan
      lagi peluang anda.
    = link_to "Daftar untuk buat iklan", new_user_registration_path, class: "btn btn-large btn-success"
  = render 'search/search_box'
- else
  = render 'search/search_box'
  = render 'jobs/list', jobs: @jobs

= render 'listings/states_list'
