- if current_user.nil? && !@searched
  .jumbotron
    %h1
      Tingkatkan peluang pertukaran anda!
    %p.lead
      Kami tahu ramai penjawat awam yang ingin membuat pertukaran tempat kerja secara suka sama suka
      tapi tiada tempat untuk iklankan jawatan anda. Dengan aplikasi ini ianya pasti dapat mencerahkan
      lagi peluang anda.
    = link_to "Daftar untuk buat iklan", new_user_registration_path, class: "btn btn-large btn-success"
  = render 'search/search_box'
- else
  = render 'search/search_box'
  .row-fluid
    .span12
    - unless @jobs.blank?
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Sekarang
            %th Dicari
            %th Gred
            %th Waktu Iklan
            %th
        %tbody
          - i = starting_row_number(params[:page])
          - @jobs.each.with_index do |job, index|
            %tr
              %td= i = i + 1
              %td
                = "#{job.location.nama}, #{job.location.state.nama}"
              %td
                - if job.next_jobs.length == 1
                  = "#{job.next_jobs[0].location.nama}, #{job.next_jobs[0].location.state.nama}"
                - elsif job.next_jobs.length > 1
                  %ul
                    - job.next_jobs.each do |next_job|
                      %li
                        = "#{next_job.location.nama}, #{next_job.location.state.nama}"
                - else
                  \-

              %td= job.gred
              %td
                = time_ago_in_words(job.created_at)
                ago
              %td.right
                = link_to job, class: "btn btn-small" do
                  %i.icon-eye-open

      = paginate @jobs

    - else
      - if @searched
        Tiada keputusan.
