= nested_form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :is_exchange, "Jenis"
    = f.select :is_exchange, { "Tawaran" => false, "Pertukaran" => true }
  .field
    = f.label :location_id, "Lokasi"
    = f.collection_select :location_id, Location.states, :id, :nama, { include_blank: true }, { class: "job_state_id", id: "job_state_id" }
    = f.grouped_collection_select :location_id, Location.states, :districts, :nama, :id, :nama, {}, {class: "job_location_id"}
    = hidden_field_tag "state_val", @job.get_state
    = hidden_field_tag "location_val", @job.location_id
  .field
    = f.label :title_id, "Jawatan"
    = f.collection_select :title_id, Title.all, :id, :nama
  .field
    = f.label :ministry_id, "Kementerian"
    = f.collection_select :ministry_id, Ministry.all, :id, :nama
  .field
    = f.label :gred
    = f.text_field :gred
  .field
    = f.label :nota
    = f.text_area :nota
  .field
    = f.label :nama_organisasi
    = f.text_field :nama_organisasi
  .field
    = f.label :expired_at
    = f.date_select :expired_at

  #next-jobs
    - @job.next_jobs.each.with_index do |next_job, index|
      = render partial: 'next_job_fields', locals: { index: index, next_job: next_job, f: f }
    = f.link_to_add "Add a next job", :next_jobs
    %a{href: "#", id: "add-next-job"} Add a next job

  .actions
    = f.submit 'Save'
