= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :location_id, "Negeri"
    = f.collection_select :location_id, Location.states, :id, :nama, { include_blank: true }, {id: "job_state_id"}
  .field
    = f.label :location_id, "Daerah"
    = f.grouped_collection_select :location_id, Location.states, :districts, :nama, :id, :nama
  .field
    = f.label :title_id, "Jawatan"
    = f.collection_select :title_id, Title.all, :id, :nama
  .field
    = f.label :ministry_id, "Kementerian"
    = f.collection_select :ministry_id, Ministry.all, :id, :nama
  .field
    = f.label :gred
    = f.text_field :gred
  .field
    = f.label :nota
    = f.text_area :nota
  .field
    = f.label :nama_organisasi
    = f.text_field :nama_organisasi
  .field
    = f.label :expired_at
    = f.datetime_select :expired_at
  .field
    = f.hidden_field :is_exchange, value: false
  .actions
    = f.submit 'Save'
