= form_for @job do |f|
  -if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :location, "Negeri"
    = f.collection_select :location_id, Location.states, :id, :nama, { include_blank: true }, {id: "job_state_id"}
  .field
    = f.label :location, "Daerah"
    = f.grouped_collection_select :location_id, Location.states, :districts, :nama, :id, :nama
  .field
    = f.label :jenis
    = f.text_field :jenis
  .field
    = f.label :skim
    = f.text_field :skim
  .field
    = f.label :gred
    = f.number_field :gred
  .field
    = f.label :nota
    = f.text_area :nota
  .field
    = f.label :nama_organisasi
    = f.text_field :nama_organisasi
  .field
    = f.label :expired_at
    = f.datetime_select :expired_at
  .field
    = f.label :closed_at
    = f.datetime_select :closed_at
  .actions
    = f.submit 'Save'
