= nested_form_for @job, html: { class: "form-horizontal" } do |f|
  - if @job.errors[:base].any?
    .alert.alert-error
      %button.close{ :"type" => "button", :"data-dismiss" => "alert" }
        = raw("&times;")
      %h4 Errors
      %ul
        - @job.errors[:base].each do |msg|
          %li= msg

  .row
    = normal_div_if @job.errors[:location_id].empty? do
      = f.label :location_id, "Lokasi Sekarang", class: "control-label"
      .controls
        = render 'location_fields', f: f, state: @job.get_state, location: @job.location_id
        %span.help-inline
          = @job.errors[:location_id].join(", ")

    = normal_div_if @job.errors[:ministry_id].empty? do
      = f.label :ministry_id, "Kementerian", class: "control-label"
      .controls
        = f.collection_select :ministry_id, Ministry.all, :id, :nama, {}, class: "input-xlarge"
        %span.help-inline
          = @job.errors[:ministry_id].join(", ")

    = normal_div_if @job.errors[:nama_organisasi].empty? do
      = f.label :nama_organisasi, "Nama Organisasi", class: "control-label"
      .controls
        = f.text_field :nama_organisasi, class: "input-xlarge", placeholder: "Jabatan Perkhidmatan Awam"
        %span.help-inline
          = @job.errors[:nama_organisasi].join(", ")

    = normal_div_if @job.errors[:gred].empty? do
      = f.label :gred, class: "control-label"
      .controls
        = f.text_field :gred, class: "input-mini", placeholder: "F41"
        %span.help-inline
          = @job.errors[:gred].join(", ")

    = normal_div_if @job.errors[:jawatan].empty? do
      = f.label :jawatan, class: "control-label"
      .controls
        = f.text_field :jawatan, placeholder: "Pegawai Teknologi Maklumat"
        %span.help-inline
          = @job.errors[:jawatan].join(", ")

    = normal_div_if @job.errors[:nota].empty? do
      = f.label :nota, class: "control-label"
      .controls
        = f.text_area :nota, class: "input-xxlarge", rows: 4, placeholder: "Skop kerja dan sebagainya"
        %span.help-inline
          = @job.errors[:nota].join(", ")

    #next-jobs.control-group
      %hr
      %h3
        Pilihan Penempatan Baru
      %br
      - @job.next_jobs.each.with_index do |next_job, index|
        = render partial: 'next_job_fields', locals: { index: index, next_job: next_job, f: f }
      = f.link_to_add "Add a next job", :next_jobs
      .control-group
        .control-label
        .controls
          %a{href: "#", id: "add-next-job"} Tambah Lokasi

    .form-actions
      = f.submit 'Save', class: "btn btn-primary"
