= f.fields_for :next_jobs, next_job do |i|
  = @job.next_jobs[index].location_id
  = render 'location_fields', f: i, state: @job.next_jobs[index].get_state, location: @job.next_jobs[index].get_state
  = i.link_to_remove "Remove this task #{index}"
