.row-fluid
  .row-fluid
    .span12
      .page-header
        %h3
          Penempatan Sekarang

      %p
        %span.span3
          Lokasi:
        = "#{@job.location.nama}, #{@job.location.state.nama}"
      %p
        %span.span3
          Kementerian:
        = @job.ministry.nama
      %p
        %span.span3
          Nama Organisasi:
        = @job.nama_organisasi
      %p
        %span.span3
          Jawatan:
        = @job.jawatan
      %p
        %span.span3
          Gred:
        %b
          = @job.gred
      %p
        %span.span3
          Nota:
        = dash_if_nil(@job.nota)

  .row-fluid
    .span12
      .page-header
        %h3
          Penempatan yang Dicari

      - if @job.next_jobs.length == 1
        = "#{@job.next_jobs[0].location.nama}, #{@job.next_jobs[0].location.state.nama}"
      - elsif @job.next_jobs.length > 1
        %ul
          - @job.next_jobs.each do |next_job|
            %li
              = "#{next_job.location.nama}, #{next_job.location.state.nama}"
      - else
        \-

  .row-fluid
    .span12
      .page-header
        %h3
          Hubungi

      %p
        - if current_user
          %span.span3
            E-Mail:
          = @job.user.email
        - else
          Sila login atau daftar terlebih dahulu untuk melihat cara untuk menghubungi pengiklan ini.