.page-header
  %h1
    Terlupa Kata Laluan
    %small
      Reset semula kata laluan

.row-fluid
  .span12
    = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" } do |f|
      %fieldset

      = normal_div_if resource.errors[:email].empty? do
        = f.label :email, "Email", class: "control-label"
        .controls
          = f.email_field :email
          %span.help-inline
            = resource.errors[:email].join(", ")

      .form-actions
        = f.submit "Hantar Panduan", class: "btn btn-primary"
