.page-header
  %h1
    Iklan
    %small
      Senarai Jawatan

.row-fluid
  .span12
    - if @jobs.length > 0
      %table.table.table-striped
        %thead
          %tr
            %th #
            %th Sekarang
            %th Dicari
            %th Gred
            %th Masa Iklan
            %th
        %tbody
          - @jobs.each.with_index do |job, index|
            %tr
              %td= index + 1
              %td
                = "#{job.location.nama}, #{job.location.state.nama}"
              %td
                - if job.next_jobs.length == 1
                  = "#{job.next_jobs[0].location.nama}, #{job.next_jobs[0].location.state.nama}"
                - elsif job.next_jobs.length > 1
                  %ul
                    - job.next_jobs.each do |next_job|
                      %li
                        = "#{next_job.location.nama}, #{next_job.location.state.nama}"
                - else
                  \-

              %td= job.gred
              %td
                = time_ago_in_words(job.created_at)
              %td.right
                .btn-group
                  = link_to [:admin, job], class: "btn btn-small" do
                    %i.icon-eye-open
                  = link_to [:admin, job], :data => { :confirm => 'Are you sure?' }, :method => :delete, class: "btn btn-small btn-danger" do
                    %i.icon-trash.icon-white
    - else
      Tiada iklan.
