!!! 5
%html{ lang: "en" }
  %head
    %title Bertukar
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:property => 'fb:app_id', :content => '331360483631162'}/

  %body
    .container-narrow
      .masthead
        = render 'layouts/menu'
        %h3.muted
          = link_to "Bertukar", root_path

      %hr
      = show_flash(notice, alert)

      = yield

      - unless current_user.try(:admin?)
        = render 'layouts/ga' if Rails.env.production?

      %hr
      %footer
        %p
          © 2012
