!!! 5
%html{ lang: "en" }
  %head
    %title
      - unless "#{yield :title}".blank?
        = "#{yield :title} - "
      Pertukaran Suka Sama Suka

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

    - unless "#{yield :description}".blank?
      %meta{name: "description", content: "#{yield :description} "}

    - unless current_user.try(:admin?)
      = render 'layouts/ga' if Rails.env.production?

    %meta{:name => 'msvalidate.01', :content => '253AE5B883B8A53B17FBFEADA8E63D6E'}/

  %body
    #fb-root
    .container-narrow
      .masthead
        = render 'layouts/menu'
        %h3.muted
          = link_to "Bertukar", root_path

      %hr
      = show_flash(notice, alert)

      = yield

      %hr
      %footer
        %p
          = link_to "IEATBINARY", "http://ieatbinary.com/"
          © 2012
