!!! 5
%html{ lang: "en" }
  %head
    %title Bertukar
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - unless current_user.try(:admin?)
      = analytics_init if Rails.env.production?

  %body
    .container-narrow
      .masthead
        = render 'layouts/menu'
        %h3.muted
          Bertukar
      %hr
      = show_flash(notice, alert)

      = yield

      %hr
      %footer
        %p
          © 2012
