!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title Bertukar
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .header
        = render_navigation renderer: :bootstrap_pills

      = show_flash(notice, alert)

      = yield
